* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    overflow: hidden;
}

body {
    background-image: url('/image/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 22px;
    height: 100dvh;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: calc(100vh - 44px);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nav {
    color: #fff;
    width: 100%;
    padding: 20px 25px;
    display: flex;
    flex-direction: row;
}

.nav h2 {
    display: flex;
    align-items: center;
    cursor: default;
}

.h3 {
    margin-left: auto;
    margin-right: 45px;
    display: flex;
    flex-direction: row;
}

.nav h3 {
    margin-left: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

.nav h3:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.spline {
    width: 100%;
    border-radius:22px;
    height: calc(100vh - 44px);
    position: absolute;
    z-index: -1000;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: auto;
    margin-bottom: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

footer > a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.github {
    margin-right: 0;
    margin-left: auto;
    background: aliceblue;
    padding: 4px 37px 6px 37px;
    border-radius: 10px;
    color: #000000;
    transition: 0.2s ease-in-out;
}

.github:hover {
    scale: 1.1;
    box-shadow: 0 0 10px gray;
}

.linkedin{
    transition: 0.2s ease-in-out;
    margin-left: 7px;
}

.linkedin:hover {
    scale: 0.95;
}

.hover {
    color: #cdcdcda7;
}

.note {
    position: absolute;
    font-size: 250px;
    bottom: -90px;
    left: -50px;
    z-index: -10;
    transform: rotate(10deg);
}

.joystick {
    position: absolute;
    font-size: 500px;
    bottom: -150px;
    right: -80px;
    z-index: -10;
    /* transform: rotate(10deg); */
}

@media (max-width: 700px) {
    .nav {
        flex-direction: column;
        padding: 10px 10px;
    }

    .nav p {
        font-size: 22px;
    }

    .h3 {
        margin: 15px 20px 0 0;
        justify-content: center;
        flex-direction: column;
    }
    
    .nav h3 {
        font-size: 14px;
        margin: 10px 10px;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .nav h3:active {
        scale: 1.05;
    }

    .github {
        padding: 3px 20px 5px 20px;
        font-size: 15px;
    }
    
    .linkedin{
        font-size: 15px;
    }

    .github:active {
        scale: 1.1;
        box-shadow: 0 0 10px gray;
    }
    
    .linkedin:active {
        scale: 0.95;
    }

    .spline {
        margin-top: 50px;
        scale: 0.6;
    }

    .container {
        height: calc(90vh - 44px);
    }
}
